.page-header
  p 道場巡回に特化したページです。絞り込みなどの設定は、ツールバーの設定ページから行ってください。
  p 発揮値は参考です。コメントやユニット名から推測しているので、値がおかしい場合があります。
  p 掲載基準などは<a href='/about'>about</a>に記載
  p 訪問状態は3日おきに自動でリセットされます。設定からいつでもリセットすることができます。
  p 利用頻度の偏りを解消するため、並び順が読み込みの度に変動します。設定から昇順降順に固定可能です。
  p.recommend 今日はオーディションバトル推奨日です。
#content
ul.media-list
  - @dojos.each do |dojo|
    li.media.round data-userid="#{dojo.userid}"
      button type='button' class='close' &times;
      - url = "http://imas.gree-apps.net/app/index.php/mypage/user_profile/id/#{dojo.userid}/" if @flag
      - url = "http://imas.gree-apps.net/app/index.php/auditionbattle/confirm/enemy_id/#{dojo.userid}/" unless @flag
      a href="#{url}" target="#{@target}"
        .pull-left.round.level-display ="#{dojo.level}"
        .media-body
          h4.media-heading.round.name-display ="#{dojo.username}"
          .row
            .col-xs-4.round.value-display ="#{dojo.dispvalue}"
            .col-xs-8.round.comment-display ="#{dojo.comment}"

javascript:

  $(function(){
    var _d = document, _w = window;
    var getStorage = function(){
      var json = localStorage.dojo;
      var date = (new Date()/1000/3600+9)/24|0;
      if(!json || ((json = JSON.parse(json)).date > date || date > json.date+2) ){
        return {ids:[], date:date};
      }else return json;
    };
    var addStorage = function(a){
      var ls = getStorage();
      ls.ids.push(a);
      _w.localStorage.dojo = JSON.stringify(ls);
    };

    $('[data-userid]').on('click',function(){
      addStorage($(this).attr('data-userid'));
      $(this).css('display','none');
    });

    var ids = getStorage().ids;
    for (var i = 0, max = ids.length; i < max; i++) {
      var target = _d.querySelector('[data-userid="'+ids[i]+'"]');
      if(target) target.style.display = 'none';
    };

    if(new Date().getDay() == 2) $('.recommend').show();
  });
