body {
  padding-top: 70px;
}

.container {
  width: 768px;
}

li.round {
  border-bottom: 1px solid #ddd;
}

li.round:nth-child(even){
  background: #eee;
}

li.round > a {
  display: block;
  color: inherit;
}

.round.level-display {
  display: block;
  width: 128px;
  height: 128px;
  text-align: center;
  line-height: 128px;
  font-size: 48px;
}

.round.name-display {
  height: 36px;
  line-height: 36px;
  font-size: 20px;
}

.round.value-display {
  height: 92px;
  line-height: 92px;
  text-align: center;
  font-size: 32px;
}

.round.comment-display {
  font-size: 18px
}

.list td.home, .list td.link, .list th.home, .list th.link {
  width: 120px;
  padding: 0;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.list td, .list th {
  font-size: 1.2em;
}

.list td.home a, .list td.link a {
  display: block;
  height: 140px;
  line-height: 140px;
  width: 100%;
}

#content.about p{
  margin: 0 1.2em;
}

.about dd {
  margin-bottom: 0.8em;
}
